.title-web {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title-web a {
    font-size: 30px;
}

.title-web>a {
    color: white !important;
}

.title-web>a:hover {
    color: #13547a !important;
}

.container {
    margin: 35px auto;
}

.custom-color {
    color: black !important;
}

.custom-color:hover,
.custom-color:focus {
    color: white !important;
    background-color: #13547a;
}

.item-bar {
    background-color: white;
    padding: 0 10px;
    border-radius: 5px;
}

.nav-item {
    border-bottom: 2px solid white;
}

.nav-item:hover {
    border-bottom: 2px solid red;
}

.nav-item:focus {
    border-bottom: 2px solid red;
    background-color: #13547a;
}

.branding {
    text-decoration: none;
    max-height: 100%;
}

.branding>img {
    display: inline-block;
    height: 48px;
}

.log-copy {
    float: right;
    margin-left: 20px;
}

.log-copy>h5,
.log-copy>p {
    margin: 0px;
    color: white;
}

.dropdown button a {
    color: #13547a;
}