<nav class="navbar navbar-dark bg-dark mb-5">
  <h1 class="title-web"><a class="navbar-brand text-success" [routerLink]="[ '' ]">HiPhim</a></h1>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 text-success" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 10px;" type="submit">Search</button>
      </form>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <a *ngIf="!email" class="nav-item nav-link text-success" [routerLink]="[ '/register' ]"
            routerLinkActive="active">Register</a>
          <a *ngIf="!email" class="nav-item nav-link text-success" [routerLink]="[ '/login' ]"
            routerLinkActive="active">Login</a>
          <div class="dropdown">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">
              <a *ngIf="email" class="text-white" style="text-decoration: none;" [routerLink]="[ '/personal/user' ]"
                routerLinkActive="active">{{email}}</a>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>