<footer class="container">
  <ul>
    <li>
      <div>
        <p class="h4"><strong>Danh sách phim</strong> </p>
      </div>

      <div class="links">
        <a>Phim lẻ mới</a> <br>
        <a>Phim bộ mới</a> <br>
        <a>Phim chiếu rạp</a> <br>
      </div>
    </li>
    <li>
      <div>
        <p class="h4"><strong>Phim theo thể loại</strong> </p>
      </div>
      <div class="links">
        <a>Phim hành động</a> <br>
        <a>Phim hài </a> <br>
        <a>Phim tình cảm</a> <br>
        <a>Phim hoạt hình</a> <br>
      </div>
    </li>
    <li>
      <div class="text">
        <div>Email: hiphim@hiphim.com<br>
          - Đội ngũ lập trình viên có tâm nhất Vịnh Bắc Bộ<br>
          - Hỗ trợ ChatBot cho các thanh niên FA (HeraBot)
        </div>
      </div>
    </li>
  </ul>

  <div class="bar">
    <div class="copyright">&copy; hiphim.com .Copyright not yet registered </div>
  </div>

</footer>