<div class="container">
  <div class="page">
    <mat-form-field class="filters">
      <mat-select placeholder="Select category">
        <mat-option *ngFor="let category of categogries" [value]="category.toLowerCase()">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="movie-list">
      <div class="movie" *ngFor="let movie of movies">
        <figure class="movie-poster">
          <video>
            <source [src]="movie.url" type="video/mp4">
          </video>
        </figure>
        <div class="movie-title">
          <a [routerLink]="[ '/watch/' + movie.userId ]" [queryParams]="{id: movie.id}">{{movie.name}}</a>
        </div>
        <p>{{movie.description}}</p>
      </div>
    </div> <!-- .movie-list -->
    <!-- pagination -->
  </div>
</div> <!-- .container -->