<mat-card>
  <div *ngIf="!token" class="form-login">
    <img src="../../assets/logo.jpg" alt="" srcset="">
    <form class="example-form" (ngSubmit)="onLoginSubmit()">
      <mat-form-field class="example-full-width">
        <input type="text" name="username" [(ngModel)]="user.username" required matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" name="password" [(ngModel)]="user.password" required matInput placeholder="Password">
      </mat-form-field>

      <button type="submit" [disabled]="!user.username || !user.password" mat-button><b>LOGIN</b></button>
    </form>
    <a [routerLink]="[ '/register' ]" routerLinkActive="active">Register</a>
  </div>

  <div *ngIf="token" class="form-home">
    <h1 style="text-align: center">Home</h1>
    <form class="example-form" (ngSubmit)="onHomeSubmit()">
      <mat-form-field class="example-full-width">
        <input type="text" name="text" matInput placeholder="Token" value="{{token}}">
      </mat-form-field>

      <button type="submit" [disabled]="!token" mat-button>HOME</button>
    </form>
  </div>
</mat-card>