.card-body {
    padding: 0px;
}

.card-body table tr td {
    padding-left: 5px
}

.card-body .table {
    margin-bottom: 0px;
}

.icon-padding {
    padding-right: 5px;
}

.toggle-btn {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}