<div class="row">
    <div class="col-sm-2 col-md-2">
        <div class="panel-group" id="accordion">
            <button class="toggle-btn" mat-raised-button color="accent" data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne"><span class="fa fa-list-alt icon-padding">
                </span>Content</button>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>
                                <button mat-flat-button>
                                    <span class="fa fa-pencil icon-padding"></span><a
                                        (click)="openBottomSheet()">Upload</a>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button mat-flat-button>
                                    <span class="fas fa-edit text-info icon-padding"></span><a href=#>Edit</a>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button mat-flat-button>
                                    <span class="fa fa-trash-o text-danger text-danger icon-padding"></span><a
                                        href=#>Delete</a>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button mat-flat-button>
                                    <span class="fas fa-comments text-success"></span><a href=#>Comments</a>
                                    <span class="badge">42</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <button class="toggle-btn" mat-raised-button color="primary" data-toggle="collapse" data-parent="#accordion"
                href="#collapseThree"><span class="fa fa-user icon-padding">
                </span>Account</button>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>
                                <button mat-flat-button>
                                    <a href=#>Change Password</a>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-9">
        <div class="card-body">
            <h1 style="margin: auto;text-align: center">XIN CHAO USER</h1>
        </div>
    </div>
</div>