.form-login {
    width: 320px;
    margin: 100px auto;
}

.example-form,
.mat-progress-bar-secondary {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.mat-button {
    width: 100%;
    padding: 5px;
    background-color: #13547a;
    color: white;
}