<mat-card>
  <div *ngIf="!isValidEmail" class="form-login">
    <form class="example-form">

      <h1 style="text-align: center">Enter your email</h1>
      <mat-form-field class="example-full-width">
        <input type="email" name="userEmail" [(ngModel)]="supervisor.userEmail" required matInput placeholder="Email">
      </mat-form-field>
      <button (click)="onIdentifyEmail()" [disabled]="!supervisor.userEmail || isLoad" type="submit" mat-button>
        GET CODE</button>
    </form>
    <br>
    <mat-progress-bar *ngIf="isLoad" mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="!isValidCode && isValidEmail" class="form-login">
    <form class="example-form">
      <h1>Enter your code</h1>
      <mat-form-field class="example-full-width">
        <input type="text" name="identifyCode" [(ngModel)]="supervisor.identifyCode" required matInput
          placeholder="Code">
      </mat-form-field>
      <button (click)="onIdentifyCode()" [disabled]="!supervisor.identifyCode" type="submit" mat-button>
        IDENTIFY</button>
    </form>
  </div>

  <div *ngIf="isValidCode && isValidEmail" class="form-login">
    <form class="example-form">
      <h1>Change password</h1>
      <mat-form-field class="example-full-width">
        <input type="password" name="password" [(ngModel)]="user.password" required matInput placeholder="New password">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" name="replacePassword" [(ngModel)]="replacePassword" required matInput
          placeholder="New password">
      </mat-form-field>
      <button (click)="changePassword()" [disabled]="!user.password || replacePassword != user.password" type="submit"
        mat-button>
        CHANGE PASSWORD</button>
    </form>
  </div>
</mat-card>