ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.video-box {
    border-bottom: 1px solid #e9ebee;
}

.content-box {
    margin-top: 3em;
    height: 100%;
}

.movie-item {
    margin: 5px 0;
    overflow: hidden;
}

.link-movie {
    width: 100%;
    height: 100%;
    display: block;
    color: black;
    max-height: 103px;
    overflow: hidden;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    border: none;
}

.avt {
    text-align: center;
    float: left;
    width: 7%;
    padding: 5px;
    height: 100%;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.comment-content {
    margin-left: 1em;
    float: left;
    width: 90%;
}