<main class="main-content">
  <div class="container">
    <div *ngIf="slideMovies && leftMoviesList && movies" class="page">
      <h3 class="text-header">Most popular</h3>
      <div class="row slide">
        <div class="col-md-9">
          <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#demo" *ngFor="let item of slideMovies; let i=index" [class.active]="i==0"
                data-slide-to="i"></li>
            </ol>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let movie of slideMovies; let i=index" [class.active]="i==0">
                <a [routerLink]="[ '/watch/' + movie.userId ]" [queryParams]="{id: movie.id}">
                  <video width="100%" height="100%" class="slider">
                    <source [src]="movie.url">
                  </video>
                  <div class="carousel-caption">
                    <h3>{{movie.name}} - {{i}}</h3>
                    <p>{{movie.description}}</p>
                  </div>
                </a>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>

          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-sm-6 col-md-12" *ngFor="let movie of leftMoviesList">
              <div class="latest-movie">
                <a [routerLink]="[ '/watch/' + movie.userId ]" [queryParams]="{id: movie.id}">
                  <video width="100%" height="100%" class="slider">
                    <source [src]="movie.url">
                  </video>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
      <h3 class="text-header">Viewest Film</h3>
      <div class="row">
        <div class="col-sm-6 col-md-3" *ngFor="let movie of movies">
          <div class="latest-movie">
            <a [routerLink]="[ '/watch/' + movie.userId ]" [queryParams]="{id: movie.id}">
              <video width="100%" height="100%" class="slider">
                <source [src]="movie.url">
              </video>
            </a>
          </div>
        </div>
      </div> <!-- .row -->
    </div>
  </div> <!-- .container -->
</main>