/* Main container */

.container {
  background: white;
  border-radius: 5px;
  padding: 30px;
  overflow: hidden;
}

/* Slide */

.slide {
  padding-bottom: 20px;
}

.slider {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.text-header {
  font-family: fantasy;
}

/* Lastest movie */

.latest-movie {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.latest-movie img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
}

/* List movie */

.movie-list {
  margin: 0 -15px;
}

.movie-list .movie {
  width: 25%;
  padding: 0 15px;
  float: left;
  margin-bottom: 30px;
  height: 235px;
  overflow: hidden;
}

@media screen and (min-width: 991px) {
  .movie-list .movie:nth-child(4n+1) {
    clear: both;
  }
}

@media screen and (max-width: 990px) {
  .movie-list .movie {
    width: 50%;
  }
  .movie-list .movie:nth-child(4n+1) {
    clear: both;
  }
  .movie-list .movie:nth-child(2n+1) {
    clear: both;
  }
}

@media screen and (max-width: 480px) {
  .movie-list .movie {
    width: 100%;
    clear: both;
  }
}

.movie-list .movie .movie-poster {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.movie-list .movie .movie-poster video {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.movie-list .movie:hover video {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.movie-list .movie .movie-title {
  font-size: 1.3em;
  font-weight: 300;
}

.movie-list .movie .movie-title a {
  color: black;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-decoration: none;
}

.movie-list p {
  color: #84878d;
}

.movie-list .movie .movie-title a:hover {
  color: #ffaa3c;
}