<mat-card>
  <div class="form-login">
    <img src="../../assets/logo.jpg" alt="" srcset="">
    <form class="example-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input type="email" name="email" [(ngModel)]="user.email" required matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" name="password" [(ngModel)]="user.password" required matInput placeholder="Password">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="text" name="name" [(ngModel)]="user.name" matInput placeholder="Name">
      </mat-form-field>

      <button type="submit" [disabled]="!user.email || !user.password" mat-button><b>REGISTER</b></button>
    </form>
  </div>
</mat-card>