<div class="form-login wrap-login100 p-t-85 p-b-20">
    <div class="login100-pic js-tilt" data-tilt>
        <img src="../../assets/images/img-01.png" alt="IMG">
    </div>
    <form class="example-form" (ngSubmit)="onSubmit()">
        <input type="email" name="email" [(ngModel)]="user.email" required matInput placeholder="Email">
        <input type="password" name="password" [(ngModel)]="user.password" required matInput placeholder="Password">
        <input type="text" name="name" [(ngModel)]="user.name" required matInput placeholder="Name">
        <button type="submit" [disabled]="!user.email || !user.password" mat-button><b>REGISTER</b></button>
    </form>
</div>